[2013-04-12 10:09] mmazi opened #1 "Enable setting a HTTP request timeout"
This request has been posted in XChange:
https://github.com/timmolter/XChange/issues/66

[2013-04-19 23:48] gimballock opened #2 "HttpTemplate.configureURLConnection assert not null stmts are wrong"

[2013-04-20 07:18] mmazi commented on #2
Fixed: https://github.com/mmazi/rescu/commit/7cf2fb75193e77b84a79e15a56387f9585dec168

Thanks for reporting!

[2013-04-20 07:18] #2 closed, assigned to nobody

[2013-05-11 11:48] mmazi commented on #1
Done. Put this into a `rescu.properties` file on classpath:

[code]

[2013-05-11 11:48] #1 closed, assigned to nobody

[2013-05-16 20:07] timmolter opened #3 "More methods needed for accessing query"
I think ResCu needs to offer methods to get

1) the path without query params
2) just query params
3) both the path and query params

[2013-05-16 22:01] timmolter opened #4 "Status Code 500, but need the JSON"
Try out: com.xeiam.xchange.examples.mtgox.v2.service.account.WithdrawalFundsDemo.java in xchange-examples.

The status code returned is 500 which causes an HTTPException, but I would like to have the JSON it returns to log the error message.

Any ideas?

[2013-05-17 10:27] timmolter commented on #4
This is the case in MtGoxPollingTradeService.cancelOrder as well. I think there might need to be some mechanism to accept a certain return code or range of return codes within the ResCU API.

What do you think?

[2013-05-20 17:47] tommuhm opened #5 "Socket closed after each request"
Currently the socket is closed after each request by HttpTemplate.executeRequest -> connection.disconnect()

The problem is that if a connection has a keep-alive header it would automatically be cached and this disconnect prevents this.

I'm now quite sure if the disconnect can just be removed or if it should just be skipped for keep alive requests.

What is the best way to solve this problem?

FY

[2013-05-24 19:03] mmazi commented on #4
I've changed rescu's behavior on non-200 http statuses: an exception is now thrown that contains the status code and the error stream (the body of the request) that can be subsequently checked by the calling library:

https://github.com/mmazi/rescu/commit/2e34c24d636809c6f10f7c107e6c585924726b43

I think an elegant solution would be to provide support for Jackson-annotated exception on the API-int

[2013-05-24 19:23] mmazi commented on #5
I removed the disconnect() call. As much as I can gather, it is not necessary and probably shouldn't be there. We don't normally need to free the resources (socket) in our case.

We might need to make this configurable in the future if it turns out this consumes too many resources in some cases.

[2013-05-24 19:23] #5 closed, assigned to nobody

[2013-05-24 19:25] tommuhm commented on #5
nice, thanks

[2013-05-24 19:25] mmazi commented on #4
@timmolter, try this to see how the cancel order example behaves with the new code (you should git pull and mvn install rescu, of course):

http://pastebin.com/MhacAYvR

[2013-05-24 20:08] timmolter commented on #4
This isn't exactly what I was thinking, but it works. Could you make the HttpStatusException class have a String field instead of an InputStream? I can do it if you want.

What would be a better solution would be for me to be able to specify, perhaps with an annotation, that I accept code=500 returns and it should parse the json into my DTO the same as if it was a 200 return value. Know what I mea

[2013-05-24 20:17] mmazi commented on #4
Actually, I've made quite some progress on the solution I mentioned above as elegant; I hope you'll like it.

And yes, it includes changing HttpStatusException to have a String field :)

[2013-05-24 20:29] mmazi commented on #4
I've pushed the changes into rescu; you can try it here and see if this suits your needs:
https://github.com/timmolter/XChange/commits/rescu-with-exceptions

I'm finishing for today; if this is what you need, I'll release rescu tomorrow.

[2013-05-24 21:00] timmolter commented on #4
Yup, very cool. The only drawback is that I have to now use try catches, but this is really great and a good general solution. Good thinking!

[2013-05-24 21:00] #4 closed, assigned to nobody

[2013-05-25 12:12] timmolter opened #6 "Log as TRACE the JSON returned with non-200 Queries"

[2013-05-25 18:09] mmazi commented on #6
Done.

[2013-05-25 18:09] #6 closed, assigned to nobody

[2013-05-25 19:53] #3 closed, assigned to nobody

[2013-07-10 12:56] timmolter opened #9 "1.2.0 release?"
Hi Matija,

I'd like to release XChange 1.8.0 which depends on rescu 1.2.0. Any chance of a release??

[2013-07-11 11:14] #9 closed, assigned to nobody

[2013-07-31 16:07] sambitdixit opened #10 "SSL support"
This is a cool framework. I liked the simplicity. Have you tried any performance benchmark of this against RestEasy or Jersey or CXF based clients ? Do you have plans to support SSL.

[2013-07-31 17:45] mmazi commented on #10
Thanks for your comments! I haven't done any benchmarks, but it should be rather easy to do.

If by SSL you mean support for accessing services via HTTPS, it's already supported. You just need to make sure that a certificate from the server's certificate chain is in your trust store. Many Certificate Authority certificates already ship with the default Java trust store. Here's an example of HTTPS

[2013-08-01 03:11] veken0m opened #11 "isEmpty() not available in Android 2.2"
Some Bitcoinium users running Android 2.2 are experiencing crashes because of the isEmpty() function. This function is only available in Android 2.3+

Would you mind using another method to check for empty strings?

Thanks!

java.lang.NoSuchMethodError: java.lang.String.isEmpty
at si.mazi.rescu.RestInvocation.appendIfNotEmpty(RestInvocation.java:142)
at si.mazi.rescu.RestInvocation.<init>(RestInvo

[2013-08-01 05:52] mmazi commented on #11
Thanks for reporting; done.

[2013-08-01 05:52] #11 closed, assigned to nobody

[2013-08-02 15:05] sambitdixit commented on #10
Thanks..Have you got any use case where you need to pass extra header information not defined as part of @HeaderParam but directly sending the headers to server side REST API which the server side interceptors will instrospect to do certain check for example authorization based on a specific header field.  Using JAXRS proxy model, i was wondering unless we use a threadlocal to hold the headers, wh

[2013-08-02 15:33] mmazi commented on #10
There are several examples that use HTTP headers for authentication in https://github.com/timmolter/XChange/; see eg. https://github.com/timmolter/XChange/blob/develop/xchange-btce/src/main/java/com/xeiam/xchange/btce/BTCEAuthenticated.java which is an implementation of (the authenticated part of) https://btc-e.com/api/documentation.

What @HeaderParam does is that it causes rescu to send HTTP hea

[2013-08-19 10:17] mmazi commented on #10
@sambitdixit, do you still have any open questions on this topic, or have I answered them and I can close this issue? Thanks!

[2013-08-19 15:42] timmolter opened #12 "Null returned by getJsonObject in JSONUtils"
I wonder if the API could be improved by throwing an exception like on line 68 rather than returning null on line 60. If null is returned, the client will probably stumble upon a NPE.

I'm referencing this issue: https://github.com/timmolter/XChange/issues/154

I think it would be better to throw a runtime exception with a nice desciption of what happened. It could even be checked in HttpTemplate

[2013-08-19 15:44] timmolter commented on #12
If we throw an exception, it should probably be a wrapped HttpException. Same for line 68 in JSONUtils. Perhaps all the raw RuntimeExceptions should be wrapped as well.

[2013-08-19 16:06] mmazi commented on #12
I'll look into this. At first sight, returning null seems a valid response since null is the natural return value when the body is empty (no json data); is cases when jsonString may be empty, the client (caller) should be aware of this and expect a possible null result which in this case is not an exception, so no exception should be thrown.

But I'll have a look at the reference issue 154 and see

[2013-08-19 16:56] timmolter commented on #12
Yes, I like your arguments. I may just have to think of it in that way, and check for null on the client.

[2013-08-20 08:52] mmazi commented on #12
I think you need to determine what causes the empty string to be passed to getJsonObject in the your case. There may be another indication that something is wrong in the http response (eg. response code or a header or something); this should be handled somewhere else, perhaps support for handling it should be added to rescu (eg. if it's a header). But I still think getJsonObject should return null

[2013-08-21 09:19] timmolter commented on #12
Yes, agreed. Why is it null? Is it because the server had some issue? Or because it simply had nothing to return? For now, I'm just going to check for null...

[2013-08-23 07:51] mmazi opened #13 "Rethink exceptions thrown as part of public API"
See https://github.com/timmolter/XChange/issues/155

[2013-08-23 08:36] mmazi commented on #13
So what needs to be done is that rescu should throw more descriptive exceptions instead of RuntimeExceptions. The rescu user (eg XChange) then sees these exceptions as thrown by the proxy that implements the JAX-RS-annotated interface (eg. `com.xeiam.xchange.btce.BTCE`). Note that if the exception thrown by rescu is of an unchecked type, it will directly be thrown by the proxy as-is; whereas if th

[2013-08-23 09:04] timmolter commented on #13
Well thought out, @mmazi. I agree. I wouldn't want to force handling checked exceptions for every JSON call. The way I use XChange mostly is to make individual REST calls wrapped in their own threads, and if an exception occurs the thread basically just dies and the app continues unaffected. So for me Option 1 works very well.

I think I will just add to all XChange interface method declarations `

[2013-08-23 09:11] #13 closed, assigned to nobody

[2013-08-23 20:23] timmolter opened #14 "Snapshot version not correct?"
It looks like the current develop version is 1.2.0-SNAPSHOT. Shouldn't it be 1.2.1-SNAPSHOT since the last release was 1.2.0?

[2013-08-23 20:24] timmolter commented on #14
also, it would be nice if you deployed the javadocs and source as well. :)

[2013-08-24 07:10] mmazi commented on #14
Done. Version changed to 1.3.0-SNAPSHOT since it contains public API changes. Sources and javdocs jars are now built in travis build.

[2013-08-24 07:10] #14 closed, assigned to nobody

[2013-10-09 20:27] mmazi commented on #10
Closing since there seem to be no further issues.

[2013-10-09 20:27] #10 closed, assigned to nobody

[2013-10-10 10:18] timmolter opened #15 "JSONUtils Question"
After updating to 1.4.0-SNAPSHOT, I noticed another place that might need to be cleaned up a bit in ResCU: the getJSONString method in `JSONUtils`. Like the other methods in the class, should it throw `RestJsonException` rather than `JsonProcessingException`?

[2013-10-11 09:31] mmazi commented on #15
JSONUtils has three methods of which only one (getJsonObject) is ever used in rescu, and it is a one-liner (the rest is exception handling boilerplate that probably shouldn't be there).

So I decided to just scratch JSONUtils from rescu and use ObjectMapper directly.

[2013-10-11 09:31] #15 closed, assigned to nobody

[2013-10-11 09:39] mmazi commented on #15
Here's the commit: https://github.com/mmazi/rescu/commit/5c223056d4443f558bca3f8a99779d4ee1d29f48

[2013-10-11 10:13] timmolter commented on #15
sounds good. I'll check it out. I think XChange used some of those methods directly though.

[2013-10-11 10:15] mmazi commented on #15
You can copy JSONUtils into XChange and use it there. But I'd recommend just inlining all those methods without the boilerplate (ie. using ObjectMapper directly).

[2013-10-12 19:11] #12 closed, assigned to nobody

[2013-10-12 19:45] timmolter opened #16 "Please release 1.4.0"
Hi Matija,

I'm ready to release XChange, and I need a release of ResCU. No rush.

[2013-10-12 19:46] timmolter commented on #16
BTW, BTCChina right now is returning http code 503, if you want to see your IOException in action. :)

[2013-10-12 21:33] mmazi commented on #16
Done! Finaly went throught without a glitch :)

I can't see it at http://search.maven.org/#search%7Cga%7C1%7Crescu though,
but I can see it here:
https://oss.sonatype.org/index.html#nexus-search;quick~com.github.mmazi

[2013-10-12 23:43] mmazi commented on #16
It's been synced to Maven Central now too.

[2013-10-12 23:43] #16 closed, assigned to nobody

[2013-11-09 12:47] timmolter opened #17 "Please release 1.4.1"
Hi Matija,

I'd like to release XChange 1.10.0.

One quick question though...

I've received an issue regarding an exception sneaking though here: https://github.com/timmolter/XChange/issues/192

I've verified this:

[code]

Do you think ResCU could and should catch and wrap this as well?

~Tim

[2013-11-09 13:01] timmolter commented on #17
More info on the XChange issue #192...

Yes, a 500 code is returned, but I guess jackson still tries to parse the response. From a bit of Googling, the illegal character stuff might be because the response is GZipped!?!

![screen shot 2013-11-09 at 1 58 48 pm](https://f.cloud.github.com/assets/738972/1506680/e9e0e36c-493e-11e3-90ff-9ffefd30887e.png)

[2013-11-09 13:02] timmolter commented on #17
`WithdrawalFundsDemo` is the class in question if you'd like to run it yourself.

[2013-11-09 17:24] mmazi commented on #17
I fixed the problem in rescu:
- Added support for gzipped responses,
- Recover when parsing of response body in case of a non-200 response code fails to produce a valid exception object from the json source.

[2013-11-09 18:36] mmazi commented on #17
Released rescu as 1.5.0 (there were some API changes concerning exceptions, hence the minor version increase).

[2013-11-09 18:36] #17 closed, assigned to nobody

[2014-01-23 22:03] jpe42 opened #18 "How to handle Response Codes other than 200?"
I'm making a HTTP Post that has a successful return code of 201 (created).  Is there a recommended way to handle this since HttpTemplate only accepts response code 200?

https://github.com/mmazi/rescu/blob/develop/src/main/java/si/mazi/rescu/HttpTemplate.java (line 117)

Context of usage: https://github.com/timmolter/XChange/issues/271

[2014-01-27 14:16] mmazi commented on #18
This was indeed a bug in rescu, thanks for reporting!

[2014-01-27 14:16] #18 closed, assigned to nobody

[2014-02-14 05:45] jpe42 opened #21 "How to annotate POJO for rest serialization"
Coinbase accepts JSON objects for parameters, i.e., https://coinbase.com/api/doc/1.0/accounts/generate_receive_address.html.  I'm trying to figure out how to create a POJO so that it will be serialized to JSON, but it looks like it will always just use toString()?  Do I have to have the toString produce JSON representing the object?

I was hoping to be able to do something like this:

public class

[2014-02-14 08:07] mmazi commented on #21
You can do it exactly as you want it to, just drop the `@FormParam` annotation from the method parameter. If I'm reading the docs correctly, the JSON shouldn't be submitted as a form parameter, but as the whole HTTP request body.

I'll try to find an example in XChange where this is already used.

[2014-02-14 08:21] mmazi commented on #21
Also, the method (or the whole interface, if all methods are such) should be annotated with `@Consumes(MediaType.APPLICATION_JSON)`.

For an example where this is already done, see https://github.com/timmolter/XChange/blob/develop/xchange-bitfinex/src/main/java/com/xeiam/xchange/bitfinex/v1/BitfinexAuthenticated.java .

So, in general, to create a REST HTTP request where the HTTP request body is a

[2014-02-14 19:13] jpe42 commented on #21
Nice! worked like a charm.  Thanks for the detailed response/example, made it super easy to implement.

[2014-02-14 19:13] #21 closed, assigned to nobody

[2014-02-17 21:59] timmolter opened #22 "Change the default content-type header?"
Right now, the default content-type header is `application/x-www-form-urlencoded`. Using the `Consumes` annotation, we can set that header. The problem is though that what if I'm sending no request body as is the case for many public marketdata requests? That header shouldn't even be sent.

I think if we were designing this from the beginning, you'd have to explicitly set the `Consumes` annotation

[2014-02-18 08:12] mmazi commented on #22
I agree, default should be no header.

There are some other default headers, I'll have a look at all of them.

We need to test how many XChange exchange integrations this will break (but should be simply fixable with `@Consumes`).

[2014-02-18 08:13] timmolter commented on #22
Cool, I already changed the rescu code. Should I push it and then you can have a look? I can then make all necessary changes in XChange.

[2014-02-18 08:14] mmazi commented on #22
Sure, go ahead -- thanks!

[2014-02-18 08:15] mmazi commented on #22
Oh, the version should probably be changed because of the non-backwards-compatibility. Can you make a pull request instead?

[2014-02-18 08:16] timmolter commented on #22
Whoops, too late. Sorry about the formatting too. I think for now on, I'll work on my own fork and submit a pull request, with my code formatting turned off too.

[2014-02-18 08:17] timmolter commented on #22
Can you change the version?

[2014-02-18 08:23] mmazi commented on #22
Thanks, I'll finish this.

[2014-02-18 08:28] mmazi commented on #22
Ugh, if you don't mind, I'll revert your commit in develop and re-do it without the formatting changes :). This change affects so many lines and changes their history in `git blame`.

You'll have to force merge though.

[2014-02-18 08:30] timmolter commented on #22
Yeah, sorry about that. Do I need to do anything? I'm going to create my own fork of rescu right now.

[2014-02-18 08:36] mmazi commented on #22
No worries, I'm on it already.
When you pull or merge into your existing develop branch, you'll have to force it (-f). Your fork will be fine since it will already contain my non-fast-forward change.
It's not completely necessary to create your own fork as you can push branches into my repo and request pull there. But it is probably cleaner if you do it in your own repo. Whichever you prefer.

[2014-02-18 09:13] mmazi commented on #22
Done; please test with XChange to see if this is what you need.

Note that we still always send the `Accept: application/json` header since rescu always interprets the response body as json (no support for other formats).

[2014-02-18 09:13] #22 closed, assigned to nobody

[2014-02-18 09:14] timmolter commented on #22
Thanks, I'll test later tonight.

[2014-03-14 01:13] newjam opened #23 "Configuring authentication when creating proxy client."
I'm writing an API using jax-rs annotations. I want to create a proxy client in an Android application. The proxy client resource and the server side rest resource implementations  are using shared interfaces so there is no mismatch between the client and the server.

I'm securing the API with http basic authentication. The problem is, the resources methods do not have parameters annotated with @H

[2014-03-14 12:17] mmazi commented on #23
Thanks for pointing this out. I'll see if I can implement something quickly.

Rescu currently has no support for JAX-RS 2.0 (like WebTragets, Features, Config etc.).

I'm thinking of creating a Configuration class (probably not (yet) an implementation of `javax.ws.rs.core.Configuration`) that would for now just add the specified parameters to every request. Do you think this would work for you?

[2014-03-14 12:49] mmazi commented on #23
I've done it as I've suggested above; basically you need to do this:

[code]

Let me know if this helps!

[2014-03-20 23:23] newjam commented on #23
Hi!
This works great, and fits my needs perfectly.
Thanks for this improvement.

P.S. sorry for taking my time responding.

[2014-03-20 23:23] #23 closed, assigned to nobody

[2014-03-24 21:41] martinzima opened #24 "More advanced configuration of HttpsURLConnection (certificates)"
Hello everybody,
first of all, thanks for the library, although I've just started using it, I kinda like its simplicity! (What do the CU letters in the name stand for by the way? :-D)

I am currently in a position where I need to be able to configure the used HTTP(S) connection in more detail. I would appreciate the possibility to manually set the SSL socket factory (HttpsURLConnection.setSSLSocke

[2014-03-25 08:41] mmazi commented on #24
Hi @reddragcz,

yes, that sound like some very useful and needed functionality. I'd be most happy to accept a pull request from you, if you do implement this as you say! Otherwise I can add it myself (probably next week) since it doesn't seem like a lot of work.

This might also help with [a recurring issue](https://github.com/timmolter/XChange/issues/52) in XChange.

P.S. rescu stands for "REST C

[2014-03-29 08:36] mmazi commented on #24
Resolved in #25 .

[2014-03-29 08:36] #24 closed, assigned to nobody

[2014-04-01 08:07] timmolter opened #27 "Please release 1.6.0"
Hi Matija, I'm going to release XChange 2.0.0 soon. Could you deploy a 1.6.0 version?

Much appreciated, Tim

[2014-04-01 08:15] mmazi commented on #27
Great, a new major XChange release! I'll release rescu shortly.

Have you made sure that XChange works fine with the latest changes in the current rescu snapshot?

[2014-04-01 08:17] timmolter commented on #27
No, what would you recommend I test specifically?

[2014-04-01 08:27] mmazi commented on #27
I think it's enough if you just run all the test (IIRC there are tests that
run all the examples and actually connect to the exchanges).

Matija

On Tue, Apr 1, 2014 at 10:17 AM, Tim Molter notifications@github.comwrote:

[2014-04-01 08:28] timmolter commented on #27
alrighty.

[2014-04-01 08:46] timmolter commented on #27
The integration tests that you implemented were removed by me a long time ago. It became unmanageable for me to keep all them up to date. Also, it would require that I create test accounts at all the exchanges, which I don't have time to do.

I just manually ran several market data demo classes and they all seem to work. Unless there are any specific demos you want me to run, I'd say you can relea

[2014-04-01 08:49] mmazi commented on #27
Sounds fine, I'll do it.

[2014-04-01 11:51] mmazi commented on #27
Ok, it's out.

[2014-04-01 11:51] #27 closed, assigned to nobody

[2014-04-28 07:50] andre77 opened #30 "error handling"
Hi,

indeed a nice lib!
but i just faced an issue, may be you can have a look at it:
si.mazi.rescu. HttpTemplate
Current line 145
https://github.com/mmazi/rescu/blob/develop/src/main/java/si/mazi/rescu/HttpTemplate.java#L145

throw new IOException(String.format("HTTP status code was %d; response body: %s", httpStatus, httpBody));

imho not the best way to throw a simple IOException with a message.

[2014-04-28 09:02] mmazi commented on #30
Hi,

Thanks for reporting this! I'll have a look at this next week (I'm on vacation now).

[2014-04-28 09:05] mmazi commented on #30
I definitely see your point, BTW. We had it done more like what you suggest a while ago (at least the http status was reported), but decided to only use IOExceptions to make things simple since these exceptions must be declared on the service interface.

I'll think about how to best solve this and get back to you. If you're sure how to best deal with it, a pull request will be welcome :)

[2014-04-28 09:13] andre77 commented on #30
Hi,
no idea, how to solve it best way...
one option could be to throw a subclass of IOException, which has the "status code" and "reason phrase" as fields, may be s.th. like this:

[code]

so the interface is not changed, you can still catch IOException
but, additionally you can catch HTTPException, if you are interested in the status code
if this way is ok for, i can create a pull request, or fee

[2014-04-28 09:40] mmazi commented on #30
Sounds like a good idea. If you can create a pull request from it that would be great!

[2014-05-12 11:21] mmazi commented on #30
I've added `HttpStatusIOException` which does almost exactly what you suggested.

I also added an alternative solution for getting the http status code. You can declare interface methods that throw custom jackson-annotated exceptions and rescu will deserialize this exception object from the http response body; rescu already did this before. What I've added now is that if the custom exception imple

[2014-05-12 11:21] #30 closed, assigned to nobody

[2014-05-12 11:24] andre77 commented on #30
Hi MMazi,
sorry, i actually wanted to create a pull request, but did not find time for that yet

[2014-05-21 16:30] ObsessiveOrange opened #31 "Connection Timeout"
Any chance that a connection timeout could be added, in addition to the readTimeout? I'd be happy to do the necessary changes.

[2014-05-21 17:20] timmolter commented on #31
@ObsessiveOrange check out the readme file for doing this. It's already possible.

[2014-05-21 17:23] ObsessiveOrange commented on #31
@timmolter I could only find the `rescu.http.readTimeoutMillis`, but nothing on connection timeout. Am I missing something?

[2014-05-21 17:26] timmolter commented on #31
oh sorry. I missed that detail!

[2014-05-21 17:28] ObsessiveOrange commented on #31
No problem :) The reason I would like that feature added is that I find most of the failed REST requests I have are actually from the connection phase, rather than the read phase. Cutting it short and restarting the connection usually works, so that's my goal with all this.

[2014-05-22 09:26] mmazi commented on #31
Merged - @ObsessiveOrange , thanks for contributing!

[2014-05-22 09:26] #31 closed, assigned to nobody

[2014-05-23 21:17] ObsessiveOrange commented on #31
@mmazi My pleasure. Does this get automatically pushed to maven central? I'm not seeing the changes reflected in my project.

[2014-05-24 15:36] mmazi commented on #31
The changes are in version `1.6.1-SNAPSHOT`, are you using this version?

Everything seems fine to me: [the travis build](https://travis-ci.org/mmazi/rescu/builds) was successful and the artifacts are in [the Sonataype snapshot repo](https://oss.sonatype.org/content/repositories/snapshots/com/github/mmazi/rescu/1.6.1-SNAPSHOT/).

[2014-05-24 15:37] ObsessiveOrange commented on #31
Ahh, I see. sorry, only noticed the 1.6.0 build on maven central. I'll
switch it over to the snapshots.

Thank you!

On Sat, May 24, 2014 at 11:36 PM, Matija Mazi notifications@github.comwrote:

[2014-05-24 16:02] timmolter commented on #31
@ObsessiveOrange feel free to update the develop branch of XChange too with `1.6.1-SNAPSHOT`.

[2014-06-16 18:34] pilotniq opened #35 "OAuth 2 support would be nice"
It would be useful if this library supported OAuth 2 authentication.

[Bitcoin Central, soon to be Paymium](https://www.bitcoin-central.net/) has [an API](https://github.com/Paymium/api-documentation) that requires OAuth 2 authentication. I'd like to add this to the [XChange project](https://github.com/timmolter/XChange) which uses the rescu library.

It would be great to be able to use the facili

[2014-06-18 08:44] mmazi commented on #35
Unfortunately, I don't know much about how to implement OAuth2, have never done it.
Also, Bitcoin Central [says](https://github.com/timmolter/XChange/issues/172#issuecomment-46303962) they'll add simpler authentication methods so this might not be necessary right now.

On hold for now.

[2014-07-10 11:47] mmazi opened #38 "Support text/plain return type"
The `@Produces` annotation is currently completely ignored. Rescu should at least support `text/plain` in addition to `application/json`.

[2014-07-10 13:43] mmazi commented on #38
Done.

[2014-07-10 13:43] #38 closed, assigned to mmazi

[2014-07-24 16:57] mmazi opened #41 "ValueFactory (nonce) - refactor"
Refactor the merge in #40, if needed. See #40 for details.

[2014-08-11 10:43] mmazi opened #44 "Improve how method return type is determined"
We're currently using `method.getGenericReturnType()` in `RestMethodMetadata`. This doesn't seem to provide enough information on all JVMs in some cases. See [XChange issue 517](/timmolter/XChange/issues/517) for details.

[2014-08-20 09:25] mmazi commented on #41
See also #45 .

[2014-08-20 13:43] mmazi commented on #41
@rafalkrupinski , thanks again for the ValueFactory contribution.

Before releasing this addition in the next version though, I'd still at least like to make it much clearer in the code that the purpose of ValueFactory is synchronization to avoid potential misuses. I feel the interface name should reflect this purpose, since the interface itself (the only method it contains) doesn't reflect that t

[2014-08-20 14:02] timmolter commented on #41
I'll let @rafalkrupinski comment on your question.

One thing I wanted to say was that I think `NonceFactory` should be renamed to something like `CurrentTimeMillisNonceFactory` or something non-generic as it now is, to represent it's nature a bit more. `ValueFactory` could also be renamed to `NonceFactory` with a `createNonce` method.

In addition, you might want to put it all in a separate packa

[2014-08-20 14:44] rafalkrupinski commented on #41
I'm OK with SynchronizedValueFactory. I thought about SyncValueFactory - it's shorter but your version sounds better to me.

NonceFactory was intended as a default implementation.
Four possible common implementations come to my mind, this is how I'd see them named:
- AtomicInteger iniialized with current time/250 (or a ctor paramter) - IntNonceFactory,
- AtomicLong initialized with current time -

[2014-08-20 14:50] mmazi commented on #41
I agree with the above comments. I'll rename the interface, rename NonceFactory to LongTimeNonceFactory and move it to xchange-core. Will do this now, will push to both repos shortly.

[2014-08-20 15:14] mmazi commented on #41
@timmolter , do you agree that factory implementations should be moved to xchange-core? What package do you suggest for the implementations?

[2014-08-20 15:28] timmolter commented on #41
Yeah, that's fine. You can put them wherever you think is best.

[2014-08-20 16:20] #41 closed, assigned to nobody

[2014-08-21 08:28] timmolter commented on #41
Thanks @mmazi and @rafalkrupinski !

[2014-08-21 08:30] timmolter opened #46 "Please release 1.7.0"
XChange 2.1.0 will be released soon: https://github.com/timmolter/XChange/issues/610

When you have a moment, can you release a new version of Rescu? That is, if you think it's ready.

[2014-08-21 12:34] mmazi commented on #46
Sure, I'll try to do this later today, otherwise on Saturday the latest.

[2014-08-21 20:40] mmazi commented on #46
1.7.0 released.

[2014-08-21 20:40] #46 closed, assigned to nobody

[2014-08-21 20:40] timmolter commented on #46
much appreciated!

[2014-08-25 19:09] mmazi opened #47 "Additional triggers for exception parsing"
Currently, [custom exception parsing](https://github.com/mmazi/rescu/wiki/Exception-handling#mapping-http-errors-to-exceptions) is alway triggered only by a non-OK HTTP response code. Some other triggers should probably be added, like unsuccessful parsing of the json as the normal response object.

[2014-08-26 08:39] timmolter commented on #47
Yeah, that would be a great feature. Since there is no real standard that webservices adhere to, everyone makes up their own error response system. The case that rescu doesn't yet cover is a system where all responses are 200, but the JSON returned is different.

[2014-09-15 12:30] mmazi opened #48 "BigDecimals should never be serialized in scientific notation"
See https://github.com/timmolter/XChange/issues/647 .

[2014-09-15 13:12] #48 closed, assigned to nobody

[2014-09-21 09:17] timmolter opened #49 "Can you release 1.7.1?"
Sorry to ask again so soon!

[2014-09-22 08:15] mmazi commented on #49
I'll do this this evening or tomorrow morning.

[2014-09-22 11:28] timmolter commented on #49
thanks much.

[2014-09-22 18:10] mmazi commented on #49
Released; should soon appear [in Maven Central](https://search.maven.org/#search%7Cga%7C1%7Crescu).

[2014-09-22 18:10] #49 closed, assigned to nobody

[2014-09-23 07:02] timmolter commented on #49
thanks!

[2014-09-23 13:22] mmazi opened #50 "Provide some serialization flexibility for @PathParam, @FormParam, @HeaderParam etc."
Currently, all parameters are simply `toString()`ed (except for [BigDecimals](#48)). Some flexibility should be provided here, eg. for:
- BigDecimals (see also #48) and floats,
- Collections and arrays,
- Dates and times.

Note that this issue doesn't apply to json data since it has its own flexible serialization (by Jackson).

[2014-09-29 20:43] rafalkrupinski opened #51 "Synchronized write and producing JSON body"
I've just discovered a problem with SynchronizedValueFactory: when a client produces JSON body (@Consumes(APPLICATION_JSON)) then all data not passed as a header must be in a single unannotated parameter. If that object contains embedded SVF, RestInvocationHandler won't handle it at all, leaving it to the Jackson serializer.

There are two problems with that:
1. Jackson won't serialize SVF
2. ...a

[2014-10-07 07:58] timmolter commented on #47
@mmazi Have you had any recent thoughts on this? How could it be implemented generically? Any ideas?

[2014-10-07 14:16] ghost opened #52 "Cookies are not supported?"

[2014-10-07 17:44] mmazi commented on #52
Cookies are unfortunately not yet supported at this time. I have other things on my priority list right now, but any contributions or concrete suggestions will be more than welcome :) !

[2014-10-10 01:43] zholmes1 opened #53 "Unable to parse as custom Exceptions when Android app is obfuscated"
My Proguard configuration is set up to keep rescu, XChange, Jackson, and Hamcrest. I've decompiled my app and confirmed that the name of the error message ("String message") has remained untouched, even after obfuscation. So why would rescu be unable to parse the response as `BitfinexException`? Might there be any other libraries that are used for rescu's exception handling that I need to exclude

[2014-10-13 13:18] mmazi commented on #53
Hi @zholmes1 ,
Please see [dependencies](https://github.com/mmazi/rescu#dependencies). Hamcrest is only needed for testing, and rescu doesn't depend on XChange, so these two should not affect rescu.
Hope this helps. If not, please provide some more info, like error messages etc.

[2014-10-13 13:24] mmazi commented on #47
Quoting @timmolter :

Covering this case should be easy so I'll do this now. If there are any other concrete suggestions for conditions when response should be treatead and parsed as an Exception, please point them out.

[2014-10-13 16:16] mmazi commented on #47
I've added this option now. See [the wiki](https://github.com/mmazi/rescu/wiki/Exception-handling#triggering-exception-parsing-based-on-json-content) for how it can be used.

I also considered using [json schema](http://json-schema.org/) to let the user determine which responses should be parsed as exceptions, but this seems to be overkill in terms of introduced dependencies (https://github.com/fg

[2014-10-13 16:17] mmazi commented on #47
I'd appreciate it if someone could try using this in/with XChange to see if it fits the needs. I'll be glad to help, time permitting.

[2014-10-13 16:21] mmazi commented on #51
Any idea how to implement 1. efficiently?

[2014-10-13 16:26] rafalkrupinski commented on #51
No, I didn't think efficiency is important, since we're dealing with network communication. Anyway, it could be done once and memorized

[2014-10-13 18:41] mmazi commented on #47
I've added another change: response body will be parsed as exception also when a `JsonMappingException` is thrown. In this case, the user doesn't even have to do anything.

Note that now the [wiki](https://github.com/mmazi/rescu/wiki/Exception-handling) is slightly outdated, and that `HttpStatusIOException` that may be thrown by rescu is inappropriately named and may carry a misleading message. I'

[2014-10-14 04:57] zholmes1 commented on #53
Oddly enough I was getting an UndeclaredThrowableException, with the HttpStatusIOException as the undeclared throwable. I tried excluding everything but my own package from obfuscation/optimization, and while not ideal, it seems to have done the trick (for now).

[2014-10-14 09:38] mmazi commented on #53
Try also declaring `IOException` on your methods. There are cases when rescu can't parse the response as your declared exception (eg. there is no response body, or appropriate constructors are not found etc.) and it will throw an `HttpStatusIOException` in this case. Moreover, an `IOException` could be thrown for other reasons in the underlying code.

I think it's good practice to always declare `

[2014-10-14 12:21] zholmes1 commented on #53
IOException was already declared, which is why I was having a very hard
time figuring out the issue.
On Oct 14, 2014 5:38 AM, "Matija Mazi" notifications@github.com wrote:

[2014-10-15 07:53] mmazi commented on #47
Wiki has been updated too.

[2014-10-15 07:53] #47 closed, assigned to nobody

[2014-10-17 14:00] #53 closed, assigned to nobody

[2014-10-17 14:07] zholmes1 opened #54 "JsonParseException: Unexpected character"
I am trying to implement Netagio's new API into XChange but I'm unable to parse their JSON response, due to an odd character in the response which seems to crash Jackson.

Here is the character: http://www.fileformat.info/info/unicode/char/feff/index.htm

The stack trace:

[code]

And the raw JSON: http://pastebin.com/raw.php?i=UBxKKSaF

Seems like the exchange is doing something weird when they g

[2014-10-17 17:47] mmazi commented on #54
A couple of proposed soultions: [one](https://stackoverflow.com/questions/1835430/byte-order-mark-screws-up-file-reading-in-java), [two](https://stackoverflow.com/questions/4897876/reading-utf-8-bom-marker).

This could be solved in rescu in `HttpTemplate` prior to passing the stream to Jackson.

[2014-10-19 19:36] mmazi commented on #51
This should probably be _single instance per exchange user_? I think generally exchanges require that nonce be strictly increasing _per user_ (or per API key).

[2014-10-19 19:42] rafalkrupinski commented on #51
I meant "per exchange client object"

[2014-10-20 02:40] zholmes1 commented on #54
See https://github.com/mmazi/rescu/pull/55

[2014-10-22 02:20] #54 closed, assigned to nobody

[2014-10-22 02:23] zholmes1 opened #56 "How to update to newest version in Eclipse/Maven?"
I am developing for XChange in Eclipse, and I have the project imported as a Maven project. I need to be able to use the newest version to deal with Netagio's API, but I can't seem to get ResCU to update to the newest version with the necessary commit which removes the byte order mark. I've edited xchange-core's pom.xml to use rescu version 1.7.2-SNAPSHOT, which is reflected in my Maven dependenci

[2014-10-22 06:16] timmolter commented on #56
update the rescu version in pom.xml under the parent directory. I will do it.

[2014-10-22 08:36] mmazi commented on #56
There's a `-U` switch for `mvn` to update dependencies.

Or perhaps set `upatePolicy` for the repo.

[code]

Or try simply deleting  `~/.m2/repository/com/github/mmazi/rescu/1.7.2-SNAPSHOT` and rebuilding (`mvn clean install`).

[2014-10-22 14:11] zholmes1 commented on #56
Worked like a charm. Thanks @timmolter and @mmazi!

[2014-10-22 14:11] #56 closed, assigned to nobody

[2014-10-23 18:52] zholmes1 opened #57 "Include Content-Length as a HeaderParam"
Is there any way to include Content-Length as a header? I am getting an HTTP status code 411 from Netagio, which means this parameter is required. When I look at the TRACE log I can see that it is not being included.

[2014-10-23 19:03] mmazi commented on #57
The `Content-Length` header is omitted only if there is no content (ie. the content length is 0) -- [see here](/mmazi/rescu/blob/4d0945b3dcbfcc10e87129992767f0b1a2bd3656/src/main/java/si/mazi/rescu/HttpTemplate.java#L178).

Is your request body empty (eg. it's a GET request)? Can you try moving the `setRequestProperty` call (which sets the header) out of the `if (contentLength > 0)` block and see

[2014-10-23 19:11] mmazi commented on #57
So, it would be great if you could test this and send a pull request, but if it seems to much hassle to do that, I can just move the setRequestProperty call (which sets the header) out of the if (contentLength > 0) block myself and commit it since this is very little work for me -- I don't see how this could do any harm and I think it's the way it should be according to the HTTP protocol anyway.

[2014-10-23 19:36] zholmes1 commented on #57
I think the problem has to do with how I'm sending my parameters. I was originally just generating the signature outside `NetagioParamsDigest`, so I moved everything there. But now when I have `@HeaderParam("Authorization") ParamsDigest signatureCreator`, it simply sends the ParamsDigest.toString() (com.xeiam.xchange.netagio.service.NetagioParamsDigest...) instead of the result of the digestParams

[2014-10-23 19:38] zholmes1 commented on #57
https://github.com/zholmes1/XChange/tree/netagio/xchange-netagio

[2014-10-23 20:15] mmazi commented on #57
I'm looking at the code.. I don't see anything wrong with your code, but it seems to me there might be a bug in rescu. I'll look further tomorrow.

[2014-10-23 20:24] mmazi commented on #57
Ah, got it: you should use `getHttpHeadersFromParams()` instead of `getAllHttpHeaders()` in `NetagioDigest`. Tested it and it seems to work.

The bug in rescu seems to be that the `getHttpHeadersFromParams()` is public, and it shouldn't be since it has side effects and should be called at a specific time -- definitely only after the digests have been created. I'll have a closer look tomorrow.

[2014-10-23 20:29] zholmes1 commented on #57
Ok great. That definitely fixes the issue I was having with the signature generation. However I'm still not getting a `Content-Length`. Thanks for looking into this for me!

[2014-10-23 20:42] mmazi commented on #57
rescu will now send the Content-Lenght header. Hope this works for you, and doesn't break other people's stuff :) (It shouldn't)

[2014-10-24 00:09] zholmes1 commented on #57
I'm unable to get the newest version in Eclipse again, even after manually deleting rescu-1.7.2-SNAPSHOT.jar and updated my dependencies. I will try again tomorrow morning.

[2014-10-24 14:43] zholmes1 commented on #57
It seems like it is impossible to manually set the `Content-Length`. For instance, this prints `null`.

[code]

I did find one workaround which is to send a dummy string as a `FormParam`. While not ideal, this does force HttpURLConnection to send the Content-Length parameter.

[2014-10-24 14:43] #57 closed, assigned to nobody

[2014-11-07 04:57] smnz opened #59 "Top level associative arrays"
I have a service I would like to interface with that returns JSON in this structure:

{"1":{"foo":123},
 "2":{"foo":456},
 "3":{"foo":789}}

This is an associative array where the keys also happen to be an array index.  It's also at the top level, rather than assigned to some variable.

Just wondering if there is some way with rescu to deal with this sort of deserialization?

Many thanks.

[2014-11-07 13:02] mmazi commented on #59
I can't think of a way how to map this to a sensible Java data structure (like a List or a Map); but I'm actually not very experienced in Jackson, and this is actually a Jackson question.

I suggest you try asking this question at a Jackson forum or issue tracker.

[2014-12-19 20:35] rafalkrupinski commented on #51
here is some work in progress 2a5fecf1e68e3bb2a71b554d8d499db7822550c3

[2014-12-23 09:45] timmolter opened #61 "Can you release 1.7.2?"
It's that time again... :)

[2014-12-24 11:21] mmazi commented on #59
@smnz , have you resolved this issue? Do you still think anything can be done about it in rescu? Or can this issue be closed?

[2014-12-24 12:31] mmazi commented on #61
Done.

[2014-12-24 12:31] #61 closed, assigned to nobody

[2014-12-24 19:27] smnz commented on #59
Sorry, yes, please close it. I worked around the difficulty for now.

On Thu, Dec 25, 2014 at 12:21 AM, Matija Mazi notifications@github.com
wrote:

[2014-12-24 20:36] #59 closed, assigned to nobody

[2014-12-25 16:59] timmolter commented on #61
thanks!

[2015-01-03 06:43] sutra opened #62 "Support ParamsDigest in QueryParam"
`@QueryParam("signature") ParamsDigest signature`

[2015-01-05 13:35] mmazi commented on #62
Sounds useful and doable.

[2015-01-05 14:19] sutra commented on #62
This is my workaround in `org.oxerr.peatio.rest.service.PeatioDigest.digestParams(RestInvocation)` sutra/peatio-client@eba9e4d23a2536ac6a2b50d693eac9b73d2acb88, using Java reflection to change the private field `RestInvocation#invocationUrl`:

[code]

[2015-04-01 10:26] timmolter opened #64 "Better Exception Message for PKIX Exception"
Related to: https://github.com/timmolter/XChange/issues/52

The exception should be caught and rethrown with a better message containing the reason that the JVM is missing the cert in its trust store.

[2015-04-21 19:03] timmolter opened #65 "Typo on https://github.com/mmazi/rescu/wiki/Exception-handling"
Should be `HttpStatusIOException`, not `HttpStatusException`

[2015-04-27 07:08] mmazi commented on #65
Thanks.

[2015-04-27 07:08] #65 closed, assigned to nobody

[2015-05-07 19:45] mmazi opened #66 "Fix json to Exception deserialization on Google App Engine"
Rescu fails to deserialize json to Exceptions on Google App Engine. Here's a relevant part of the stack trace:

[code]

[2015-05-22 15:29] mmazi commented on #50
See how RestEasy, Jersey etc. handle this.

[2015-05-25 11:50] mmazi commented on #50
I think serialization in rescu should generally be refactored (eg. factor out the serialization methods from `Params`); serialization should be separate from the beans that hold data. This deserves a new issue.

[2015-06-01 13:50] mmazi opened #67 "Provide validation features using Bean Validation"

[2015-07-28 07:45] #66 closed, assigned to nobody

[2015-08-07 17:55] hegjon opened #68 "Include a proper license header in source files"
It would make it easier to redistribute rescu if each source file contains a license header.

Missing or generated license headers:

[code]

[2015-08-07 18:08] mmazi commented on #68
Added headers where my IDE found them missing. How does it look?

[2015-08-07 18:26] hegjon commented on #68
That fixed it :)

[2015-08-07 18:26] #68 closed, assigned to nobody

[2015-10-08 19:05] rafalkrupinski commented on #35
I need OAuth1.0a, there is simple implementation called singpost, that should go really well with rescu, but it only handles 1.0a. Another popular OAuth client is google client libary, but it focuses on OAuth2.0 and 1.0a is in beta. There seems to be little interest in implementing OAuth2.0 so I'd go with signpost. WDYT @mmazi?

[2015-10-09 09:08] mmazi opened #69 "OAuth1.0a support"
(See also https://github.com/mmazi/rescu/issues/35#issuecomment-146656421)

@rafalkrupinski signpost seems fine (though it has some limitations, e.g it [won't work with application/x-www-form-urlencoded](https://github.com/mttkay/signpost/blob/master/docs/GettingStarted.md#signing-an-http-message-using-oauthconsumer) in rescu, which uses `Http(s)UrlConnection`). If you can implement this nicely in

[2015-10-09 09:08] mmazi commented on #35
Moved the OAuth1.0a discussion to #69 .

[2015-10-10 10:54] #69 closed, assigned to nobody

[2015-10-17 11:05] rafalkrupinski opened #72 "Mapping HTTP response headers"
Hi

Can Rescu map HTTP response parameters?

[2015-10-17 14:34] mmazi commented on #72
Rescu only (and only to some extent) handles the `Content-Type` and `Content-Encoding` header; it generally ignores other HTTP headers.

There is an undocumented feature though where rescu can, in case that it will throw an exception (instead of returning normally) from a HTTP method invocation, populate the exception with response headers. The exception type just needs to be `HttpResponseAware`.

[2015-10-17 14:44] rafalkrupinski commented on #72
The service I'm using puts throttling data and the error messages in the headers, so I guess while it would be nice to have throttling data, mapping the error message will be really useful.

[2015-10-17 15:06] mmazi commented on #72
If I understand your case correctly, you can have rescu recognize the erroneous response by HTTP error code (which it does automatically) or by response body contents (eg. by throwing a `ExceptionalReturnContentException` in the regular response object constructor), which will make rescu throw your custom `HttpResponseAware` exception that you declare on the proxy method. You can then catch this e

[2015-10-17 15:24] rafalkrupinski commented on #72
s/mapping/including in the exception object/

[2015-10-17 15:46] mmazi commented on #72
Cool, so rescu has what you need? You should also be able to get the throttling data this way.

[2015-10-18 00:20] rafalkrupinski commented on #72
But I can only get the throttling data in case of a HTTP error, right?

[2015-10-18 06:24] mmazi commented on #72
That's right, if I understand your case correctly.

[2016-01-17 09:31] crypto-sporidium opened #74 "Dealing with empty json"
Hello.  I don't understand how you configure mappings when the getHttpBody() in the server response is effectively empty then can not be mapped. This is causing me problems in XChange at the moment.

You have checks here
si.mazi.rescu.ResponseReader

  if (isHttpStatusPass) {
            if (httpBody == null || httpBody.length() == 0 ){
                return null;
            } else {

[2016-01-17 10:08] mmazi commented on #74
If I understand correctly, you suggest that "[]", i.e. an empty jason array, should be converted to Java null object? While this may be desirable in some special cases, I don't think this is the way to go in the general case. Generally, the correct Java representation for an empty json array is an empty Java array (T[]) or an empty Collection.

Can you provide more details on where in XChange you

[2016-01-17 10:57] crypto-sporidium commented on #74
Well I'm open to any suggestion to just try and make the api work
The problem is related to an issue I posted 2 days ago

https://github.com/timmolter/XChange/issues/1167

according the XChange specification they expect a null object to be returned when there is no trade history. The problem is you get the empty json array from the exchange then as far as I can see rescu throws a  jackson mapping

[2016-01-18 13:21] mmazi commented on #74
This is a Poloniex-specific issue that is being solved in https://github.com/timmolter/XChange/issues/1167 .

For furture reference, the solution seems to be to use Jackson's `DeserializationFeature.ACCEPT_EMPTY_ARRAY_AS_NULL_OBJECT`.

[2016-01-18 13:21] #74 closed, assigned to nobody

[2016-02-01 21:58] douggie opened #76 "Preventing , in strings being encoded to %2C% or ensuring signature is created post encoding in"
Hi,

I am trying to pass a comma seperated string with the folloiwng method, where the order_ID is a string like 1233455,1234324,2123131.

@POST
@Path(value = "future_orders_info.do")
// @Consumes(MediaType.app
OkCoinFuturesOrderResult getFuturesOrders(@FormParam("api_key") String api_key, @FormParam("order_id") String orderId,
@FormParam("symbol") String symbol, @FormParam("contract_type") String

[2016-02-02 07:35] mmazi commented on #76
Hi @douggie ,

As far as I know, according to the HTTP spec, when using form parameters (i.e. the `application/x-www-form-urlencoded` content type), the values should always be URL-encoded in the post body (as the content type name implies). Thus I don't think the problem is in rescu (which correctly URL-encodes the parameters in post body), but rather in your ParamsDigest implementation.

Having

[2016-02-02 21:56] douggie commented on #76
HI, agreed, sorry I did a bit more digging, thanks so much, I can see the encoded url is being sent into the digest.

[2016-02-02 22:43] douggie commented on #76
HI, here is the digest, I can see that the full encoded string is being passed into  byte[] digest = md.digest(message.getBytes("UTF-8")), so would have thought this would encode correctly, I tried to changing it to an iso one, but no luck, Any ideas would be welcomed!!!!

 public String digestParams(RestInvocation restInvocation) {

[code]

  }

[2016-02-03 03:14] mmazi commented on #76
Can you describe what the problem is? (You've confirmed that the original problem description is incorrect, so there is no problem description now.) I'm guessing the server responds that the signature is incorrect? Can you provide some more info?

[2016-02-03 07:39] douggie commented on #76
HI,
mmazi, thanks so much for your assitance.
I post this request, it works fine with just one item, just when there is a comma list,

this works
2016-02-02 23:03:13 [pool-11-thread-1] DEBUG si.mazi.rescu.HttpTemplate - Executing POST request at https://www.okcoin.com/api/v1/future_orders_info.do

2016-02-02 23:03:13 [pool-11-thread-1] TRACE si.mazi.rescu.HttpTemplate - Request body = api_key=xxxx

[2016-02-03 07:41] douggie commented on #76
the actual error back from the encoded comma separated order_id is 20024    Signature does not match.

[2016-02-03 08:04] mmazi commented on #76
My guess is that OkCoin doesn't take the actual POST body when checking the signature, but first parses and URL-decodes, and then re-composes a normalized form of the POST body, and calculates its signature on this value. (This is hinted by the fact that they require the parameters to be alphabetically ordered.) This is of course something they shouldn't do, but I've seen several similar cases of

[2016-02-03 08:56] douggie commented on #76
Hi mmazi, that was my thought, been trying to get okcoin to confirm without
luck!

let me do you method, much neater, I will decode it.

On Wed, Feb 3, 2016 at 8:04 AM, Matija Mazi notifications@github.com
wrote:

[2016-02-03 13:29] douggie commented on #76
Yippee it works changning to string works!

[2016-02-03 13:29] #76 closed, assigned to mmazi

[2016-05-02 07:49] mmazi opened #80 "Provide support for caching"
Something like:

[code]

... that is applied to an API method. The (successful) result of the method call is then cached so the actual HTTP request is not issued for the next 60 seconds.

This would help alleviate some problems with nonces and request throttling (eg. in XChange).

[2016-05-02 08:13] mmazi commented on #80
HTTP invocation for cached methods may have to be serialized, or first calls will still execute concurrently. On the other hand, subsequent calls won't, so perhaps synchronization would do more harm than good. (Or not since cache access is still fast even if synchronized.)

[2016-06-06 11:53] #72 closed, assigned to nobody

[2016-07-12 09:36] mmazi opened #88 "Merge JacksonConfigureListener and JacksonObjectMapperFactory"
JacksonObjectMapperFactory was introduced in #87; it hasn't been merged with JacksonConfigureListener due to backwards compatibility reasons. They serve the same purpose though and should be merged; possibly one of them should be deprecated first.

[2016-07-12 10:08] mrmx commented on #88
I agree and could merge it unless you'd like to implement it ;)

[2016-07-12 10:34] mmazi commented on #88
If you have an idea how to merge them and still keep backwards compatibility, I'll be happy review the PR. (Sorry for the late response on #87, I was on vacation.)

[2016-07-15 09:58] mrmx commented on #88
Sure! I'll start right now! ;)

[2016-07-25 07:36] #88 closed, assigned to nobody

[2016-08-14 13:06] ntashev opened #90 "NullPointerException"
When the following valid json is passed as input:

[code]

the following exception is thrown:

[code]

[2016-08-14 13:14] mmazi commented on #90
Can you please provide more details -- this json is passed as input to what? Can you provide a full stack trace? Perhaps even create a test case that demonstrates this error? Thanks.

[2016-08-14 13:24] ntashev commented on #90
I am using https://github.com/CurrencyCloud/currencycloud-java, which is using this library. The full stack trace is:

[code]

[2016-08-16 09:59] #90 closed, assigned to mmazi

[2016-08-16 09:59] mmazi commented on #90
Fixed, thanks for reporting.

[2016-09-13 08:59] matthewdowney opened #91 "Use of deprecated RestInvocation#getAllHttpHeaders"
[Line 152 of `RestInvocationHandler`](https://github.com/mmazi/rescu/blob/develop/src/main/java/si/mazi/rescu/RestInvocationHandler.java#L152) calls the [`RestInvocation#getAllHttpHeaders`](https://github.com/mmazi/rescu/blob/develop/src/main/java/si/mazi/rescu/RestInvocation.java#L244) method, and there's a javadoc comment noting that it's deprecated and that [`RestInvocation#getHttpHeadersFromPa

[2016-09-15 08:07] mmazi commented on #91
Thanks for reporting. I'm clarifying a few things below.

The `getAllHttpHeaders` is deprecated _as a public API_ method; the javadoc says that it will be made package local, i.e. it will cease to be part of the public API, but the method itself will be kept as it is still the correct method to be used internally by rescu.

It's not new, it's just the method that should be used by library users (e

[2016-10-14 10:12] timmolter opened #92 "Can you push a new release to Maven Central?"
Would be great! I'm going to release a new XChange version.

[2016-10-14 11:02] mmazi commented on #92
Sure, working on it. Need to wait for my keys to sync tho, the previous one has expired.

[2016-10-14 11:39] timmolter commented on #92
You could update jackson right away too. :) `2.8.3`

[2016-10-14 11:42] mmazi commented on #92
Oops, too late for jackson. How important is this?

[2016-10-14 11:43] timmolter commented on #92
Not important. No worries. :)

[2016-10-15 12:03] mmazi commented on #92
Released 1.9.0.

[2016-10-15 12:03] #92 closed, assigned to nobody

[2016-12-24 22:27] wonkytonky opened #93 "problem with reading array like: [1,2,3,4,5,6] as response"
hi, i'm trying to read an array like this:
[0.00072932,0.0007,30,8216.4406985,0.00071162,2,4339.58117193,0.00000919,0.0131,0.00071162,4947669.67309485,0,0]

from https://api.bitfinex.com/v2/ticker/fUSD   (it works in browser for quicktest)

after some debugging .. i think it might be fixed
by allowing this in the objectmapper
seserializationFeature.UNWRAP_SINGLE_VALUE_ARRAYS

maybe i'm missing som

[2016-12-25 06:57] mmazi commented on #93
Please report what the problem is (error message etc.).

It is possible to use `SerializationFeature`s by suppling a config -- search XChange for "SerializationFeature" for examples.

I can provide more info tomorrow.

[2016-12-25 14:55] wonkytonky commented on #93
thanks.; i'll already try to make it work  on my side

[2017-01-03 08:05] mmazi commented on #93
Is there anything I can still do regarding this issue? Please reopen if so.

[2017-01-03 08:05] #93 closed

[2017-08-21 14:18] EricAnderson1000 opened #95 "Support http method PATCH"
Many APIs now support the operation PATCH for partial replacement of resources.
See https://tools.ietf.org/html/rfc5789

I would be happy to work on this feature.

[2017-08-21 14:19] mmazi commented on #95
That's great to hear! I'll be happy to review your pull requests, or provide any other help you might need.

[2017-08-28 21:13] cymp commented on #95
@EricAnderson1000 did you get a chance to make progress on this

[2017-08-29 12:10] EricAnderson1000 commented on #95
Not quite yet. Hope to get to this feature later this week. Working the XChange PR right now.

[2017-10-13 12:06] timmolter opened #99 "New release for XChange?"
I'd like a new release containing my recent PR and some of the other recent ones requiring Java 8. @mmazi Can we make this happen?

[2017-10-13 12:20] mmazi commented on #99
I've been on a longer vacation, I'll get on this next week.

I'll probably release support for Java 8 in rescu with a higher minor
version, but I have to look into the issue.

[2017-10-18 13:12] andre77 commented on #62
+1

[2017-10-19 11:54] mmazi commented on #91
Closing as this is old. If necessary, please reopen and reply to the above questions.

[2017-10-19 11:54] #91 closed, assigned to nobody

[2017-10-19 13:55] mmazi commented on #99
I've released rescu 2.0.0 that uses Java 8.

We can continue Java 7 support in the java-7 branch if needed; any such released versions will be called 1.9.x.

@timmolter I just noticed, however, that you might need a release with #95 included? If so, I can merge #95 and release it in 2.0.1 in a few days.

[2017-10-19 16:02] timmolter commented on #99
Yes, would be good! Thanks!

[2017-10-20 06:24] mmazi commented on #95
Merged in #100 .

[2017-10-20 06:24] #95 closed, assigned to nobody

[2017-10-20 06:28] mmazi commented on #99
Done.

[2017-10-20 06:28] #99 closed, assigned to nobody

[2017-11-23 13:53] mahalamobile opened #101 "change IP address per request - spoof"
Hi

Am using XChange github which makes REST calls to exchange API's and uses rescu as part of the call. Is there anyway to set the from IP address for each call?

thanks

[2017-11-24 13:13] mmazi commented on #101
There is no explicit support for this in rescu currently. However, rescu uses `java.net.HttpURLConnection` under the hood to create connections; see if HttpURLConnection supports what you want, then we might find a way to do it.

[2018-01-07 01:54] Flemingjp opened #102 "Allow for default interface methods"
Could the interfaces have default methods that don't produce a http call? Current attempts throws exceptions of missing annotations.

[code]

[2018-01-08 08:04] mmazi commented on #102
A pull request to fix this will be welcome, and merged promptly :)

[2018-01-17 09:54] alexachim90 opened #103 "How to get CB-BEFORE and CB-AFTER cursors from the response header for paginated requests"
Hi,
As mentioned above, I am facing the issue of not being able to get the  CB-BEFORE and CB-AFTER cursors from the response header for a paginated request. I have tried using @NameBinding to inject interceptors, but afterward I have noticed that there are only a few annotation supported. Is there any other solution to this?

Thanks!

[2018-01-17 09:58] mmazi commented on #103
You are probably referring to [this discussion](https://github.com/timmolter/XChange/pull/2164#issuecomment-357755571)?

It seems rescu could easily be adapted to support regular response model classes that implement HttpResponseAware -- I'll happily accept a pull request with adequate tests.

[2018-01-27 06:54] archenroot opened #104 "ProxyAuthorization header support"
Hi, I open this issue to request support for user password authentication to proxy, meaning adding http header to request in form of ProxyAuthorization, something like:
[code]

[2018-01-27 12:34] archenroot commented on #104
Some update, I forked repo and added following code into ClientConfigUtil class.

    /**
     * Adds to client config proxy basic authorization (user,password)
     *
     * @param config existing client config
     * @param proxyUser proxy user
     * @param proxyPassword proxy password
     * @return updated client config
     */
    public static ClientConfig addBasicProxyAuthorizationCredenti

[2018-01-31 08:17] mmazi commented on #104
Looks fine, feel free to open a pull request.

[2018-01-31 08:17] #104 closed, assigned to nobody

[2018-02-26 13:15] traviscollins commented on #101
According to docs I found googling, you'd have to create your own URLStreamHandlerFactory. That would allow you to intercept each open connection attempt, and return the URLStreamHandler with a hostAddress of your choosing for the particular request.

[2018-03-02 13:26] rafalkrupinski opened #106 "Non-sequential nonce ephemeric test failure"
si.mazi.rescu.RestInvocationHandlerTest#shouldReceiveSequentialNonces fails sometimes

[2018-03-02 13:30] rafalkrupinski commented on #106
From what I understand, this test checks whether the messages are sent in the same order as their nonces are generated, right?

[2018-03-02 14:42] mmazi commented on #106
The test checks that each nonce generated by the SynchronizedValueFactory that is passed to the API method (`nonce`) is higher than the previous nonce that was passed (`maxNonce`). The test seems rather badly written though (my bad).

I can't reproduce the failure locally, though; and also don't see from the test log why the test failed e.g. [here](https://travis-ci.org/mmazi/rescu/builds/29031823

[2018-03-02 15:40] rafalkrupinski commented on #106
I couldn't reproduce it either until I've run it 300 times added 3x System.gc() or Thread.yeald() in the test method to introduce some delay.

Anyway, have a look at #107, give it a run (I've set up a daily build in travis on my fork) and let's see if the bug is fixed.

[2018-03-08 11:08] plopezlpz opened #110 "how to add multiple optional path params?"
I have the following use case for a HTTP client: I need to include an unknown number of path params:
`GET http://something.com/1/2/3/4/5/6`
or
`GET http://something.com/1/2`
How can I do that using this library? Thanks

[2018-03-09 09:58] mmazi commented on #110
How are these parameter values represented in Java code? E.g. as `List<Integer>`?

Perhaps you can specify them as a single parameter of a custom type; rescu will call `toString` on it:

[code]

[2018-03-09 10:34] plopezlpz commented on #110
They are represented as a `List<String>`
I'm doing the following:
[code]
[code]
This will URL encode the path, resulting in: `http://something.com/1%2F2%2F3`

[2018-03-09 11:37] mmazi commented on #110
Right. In this case, I am not sure how to help you here.

Do you need this fo XChange? Can you provide a link to the API documentation of the method you are trying to implement?

[2018-03-09 12:04] plopezlpz commented on #110
I'm trying to support this: https://cex.io/rest-api#tickers-for-all-pairs-by-markets, the call can have between 1 and 5 possible symbols as path params:
`GET https://cex.io/api/tickers/{symbol1}/{symbol2}`
So, I can do this:
`GET https://cex.io/api/tickers/EUR` or `GET https://cex.io/api/tickers/EUR/BTC/USD` or any combination of the following: `USD`, `EUR`, `GBP`, `RUB`, `BTC`.
It is regarding th

[2018-03-09 12:33] mmazi commented on #110
You could use 5 path parameters, and leave some of them as null: `@Path("tickers/{s1}/{s2}/{s3}/{s4}/{s5}")`

This may produce an url like the following, but cex.io seems to be fine with this:
https://cex.io/api/tickers/USD/EUR///

[2018-03-09 14:09] plopezlpz commented on #110
@mmazi ok I'll do something like that, thanks

[2018-03-09 14:09] #110 closed, assigned to nobody

[2018-03-12 09:42] timmolter opened #111 "Base64 question"
Would it be possible to eliminate `net.iharder.Base64` and use `commons-codec.Base64` v1.11?

https://mvnrepository.com/artifact/commons-codec/commons-codec/1.11

`signpost-core` uses `commons-codec` although an older version (1.3).

There seems to be an issue related to older Base64 version; https://github.com/timmolter/XChange/issues/2402

[2018-03-13 07:57] mmazi commented on #111
1. The XChange issue you mention has nothing to do with iharder's Base64 implementation. *Introducing* commons-codec into rescu (that you suggest) could cause further problems like this, not prevent them.
2. You can fix this in XChange by either `<exclude>`ing the commons-codec dependency from the rescu dependency, or by stating an explicit dependency on the version of commons-codec that you want

[2018-03-13 08:43] timmolter commented on #111
Thanks for the explanation. Yes, using java.util.Base64 would be the best thing and I believe we already did that in XChange, so removing iharder's Base64 from Rescu should be no problem. I though the issue above was related to that. commons-codec IS already used by rescu, so I was suggesting explicitly defining in the rescu POM, to update the version OR better yet, excluding it if you don't need

[2018-03-13 08:52] timmolter commented on #111
If you excluded `commons-codec` would everything still work? I'm not 100% sure but I think doing so would leave ONLY `java.util.Base64` on the classpath and no other conflicting versions. Whether everything still works would have to be experimentally tested.

<img width="385" alt="screen shot 2018-03-13 at 09 48 34" src="https://user-images.githubusercontent.com/738972/37331282-d094e9e8-26a3-11e8-

[2018-03-13 09:05] mmazi commented on #111
commons-codec is a dependency of signpost-core so I don't want to exclude it (it may be that it is required in runtime and there is no simple way to know this unless the code that uses it is actually run).

It's the XChange library that has a conflict of library version (rescu has no conflict) so this should be solved in XChange as trying to change these things in rescu is likely to cause more pro

[2018-03-13 09:10] mmazi commented on #111
What we can do in rescu, however, is to upgrade signpost-core to a newer version that would uses a version of commons-codec that is more compatible with what is used in XChange. Pull request welcome (you should create a pull request so you can confirm in advance locally that it helps). I think you should still do what I suggested in XChange (exclude or explicitly depend on commons-codec).

[2018-03-13 09:15] timmolter commented on #111
`signpost-core` is already updated and it looks like they are not really going to release a new version soon since the last new jar was in 2012.

https://mvnrepository.com/artifact/oauth.signpost/signpost-core

[2018-03-28 08:27] jnorthrup opened #112 "swagger jaxrs example"
swagger-codegen has numerous java, rx, and jaxrs incarnations.

i have done some xchange modules with swagger-codegen and had success generating from yaml to java code

i would very much love to see a swagger-codegen jaxrs sample, and/or contribute same to expand the reach of code generation from swagger apis.  So far, Xchange has had very narrow
view of "improvement", so if it comes from the Mast

[2018-03-28 09:04] mmazi commented on #112
Can you be more concrete? What exactly is your suggestion/question?

[2018-03-28 09:04] mmazi commented on #112
Can you provide some links, examples, etc.?

[2018-03-28 17:21] jnorthrup commented on #112
this is very forward looking...

I'm maintaining a seperate XChange fork for the moment, though i'd rather smooth swagger into rescu for now

https://github.com/jnorthrup/XChange/tree/jaxrs

[code]
config-help:

https://gist.github.com/jnorthrup/b974ea8ba905bcbe9810c713e59b7a02

jaxrs-spec generation
https://gist.github.com/jnorthrup/80b0ede79a12ba28d27a00c94432181c

https://github.com/jnorthrup/X

[2018-03-30 07:35] mmazi commented on #112
I'm still at a loss about what your proposal/question/goal is. Is it about creating JAX-RS-annotated Java interfaces from OpenAPI (e.g. if an OpenAPI specification of the API is provided by an exchange)? If so, how does this relate to rescu?

Again, please take a minute to explain what your goal is and what your proposal to achieve this is, and how this relates to rescu.

[2018-03-30 14:50] jnorthrup commented on #112
i would very much love to see a swagger-codegen jaxrs sample adaptation by the guy who knows all the compromises and tradeoffs of the rescu library.  What would take you 20 minutes to evaluate would take me a week

[2018-04-02 19:44] jnorthrup commented on #112
@mmazi the first obstacle i've run across creating proxies for swagger generated jaxrs API's is an exception throw because the API declares "throws Exception"

am i missing an option that lets me generate proxies without restrictive choice  of API Exceptions?

I prefer not to check code into git that requires generation then cut and paste or search and replace, but I don't see an alternative wihto

[2018-04-03 07:33] #103 closed, assigned to nobody

[2018-04-03 07:47] #111 closed, assigned to nobody

[2018-04-03 07:48] timmolter opened #113 "2.0.2 release?"
@mmazi Could you push a 2.0.2 release to maven central?

[2018-04-03 07:58] mmazi commented on #103
Your result model classes can now implement HttpResponseAware to access the response headers.

[2018-04-03 08:10] mmazi commented on #113
Done. Should appear in Central soonish.

[2018-04-03 08:10] #113 closed, assigned to nobody

[2018-04-03 08:12] timmolter commented on #113
thank you!!!

[2018-04-03 09:41] mmazi commented on #112
Rescu does not currently support checked exception on the interface methods (except IOExceptions). I remember making that decision years ago, but I don't remember the reasons, nor did I find any in related issues and commits, nor was I able to deduce them from a quick look at the code. (Sorry, I don't develop rescu actively any more, just maintain it).

Perhaps swagger has some config options to l

[2018-04-03 23:33] jnorthrup commented on #112
[code]
https://gist.github.com/jnorthrup/6529c1fe2d1621ae649f7d778e099a90 happens from
https://github.com/jnorthrup/XChange/blob/e869e15ab6536fee58a52f428e20bbc1f0bc610c/xchange-idexjaxrs/src/main/java/org/knowm/xchange/idex/IdexExchange.java#L62

you can check out the branch and see the jars generator in action and run the main() method to duplicate with men install in the xchange-idexjaxrs modul

[2018-04-03 23:38] jnorthrup commented on #112
i would be glad to help maintain this.  the basic intent would be to make enough things public or remove such exceptions until the problem goes away

[2018-04-04 00:36] jnorthrup commented on #112
when i alter https://github.com/jnorthrup/rescu/blob/c769c6189e00fc8744ce105f1a021d42ea1aea78/src/main/java/si/mazi/rescu/RestMethodMetadata.java#L97

to test         for

[code]
i get the following opaque test failures... at least im not sure what I'm looking at yet.

![image](https://user-images.githubusercontent.com/73514/38282410-227dd520-37da-11e8-911d-1ef102cbd2af.png)

what can be done as a

[2018-04-05 09:45] mmazi commented on #112
I've created a quick patch and it seems `throws Exception` can be supported in rescu: #114.

Please try it and report if this helps.

[2018-04-06 02:50] jnorthrup commented on #112
thank you this helps.

im not able to see the REST calls using logback.xml in the src/main/java

![image](https://user-images.githubusercontent.com/73514/38401387-a5e33dfa-397f-11e8-84ec-67817a9caa98.png)

is there a programmatic feature to do same?

I am this far -- the call succeeds but returns a null *i think*

https://github.com/jnorthrup/XChange/blob/64149de07ff05070215366aa5dafc44de72d4bec/x

[2018-04-06 07:02] mmazi commented on #112
Move logback.xml to src/main/resources. Better still, move your main method to the xchange-examples module; logback is already configured there, and it will be more consistent.

Also, please continue communication regarding XChange in the appropriate repository (probably your XChange fork).

[2018-04-06 09:13] jnorthrup commented on #112
my preferences run along the lines of https://12factor.net/logs personally.  thus the question, "is there a programmatic means?"

src/main/resources doesn't change the outcome.

i just need one-time debugging   im not big on editting three modules (parent, immediate, and examples modules) and a second github issue to test the first call of the first method of one.

[2018-04-06 09:22] mmazi commented on #112
None that I know of.

In which branch in your repo can I find this code? Not in develop.

[2018-04-06 09:28] jnorthrup commented on #112
so far the method appears to be working but the logging/debug traces dont happen when i uncommeent same from logback.xml

https://gist.github.com/jnorthrup/df64296c5f8a5a92ae7c57a9565231d1

this is the branch here https://github.com/jnorthrup/XChange/tree/develop-jaxrs

[2018-04-06 09:32] jnorthrup commented on #112
btw, i was able to do roundtrip code generation from the rescu jaxrs in a majority of modules, https://github.com/jnorthrup/XChange/tree/develop-jaxrs/swagger-repo

the metadata extraction scripts are checked in to the same branch under etc as well.  this could make for an interesting node.js or golang structure from the jaxrs metadata that is in use in java.

[2018-04-06 09:35] mmazi commented on #112
Perhaps you must mark the src/main/resources as resources root in IntelliJ. Or perhaps try a `mvn package` before running the main method (I assume you're running it from Idea). Check if the logback.xml file is copied by your build system (either mvn or Idea, whichever you're using) to the appropriate directory (probably should end up in target/classes).

[2018-04-06 09:37] jnorthrup commented on #112
i have been running mvn install in the xchange-examples

my interest is in seeing the return json, since this incarnation does not yet define the error attribute returned in every dto response yet

[2018-04-06 19:11] jnorthrup commented on #112
got the poms all lined up.

now im not sure why this POST method is sending an empty requestBody as shown below.  "unannotatedmethodparameters is empty."

the two declarations, are shown as well.

![image](https://user-images.githubusercontent.com/73514/38439699-e11b2e6c-3a08-11e8-936e-fc364a663261.png)

[2018-04-06 19:35] jnorthrup commented on #112
i appears that `@Valid` is preventing the parmeter from being created in the body.  when i remove that, it creates a body

[2018-04-09 07:12] mmazi commented on #112
@jnorthrup Please give me a hand here:

1. Fork rescu
2. Create a test in RestInvocationHandlerTest that demonstrates the `@Valid` problem:
   *  Add a new method in ExampleService with a single `@Valid` parameter; if `@Valid` is not available, use an arbitrary non-JAX-RS-Param annotation.
3. You can try fixing the problem yourself: it seems the problem is somewhere in lines 92-104 in `RestInvocat

[2018-04-09 07:13] mmazi commented on #112
So, to clarify: this is a bug in rescu, it should treat the parameter that is annotated only with `@Valid` (or any non-JAX-RS-parameter annotations) as the "unannotated" parameter (there can be only one such parameter).

[2018-04-11 14:26] jnorthrup commented on #112
https://github.com/jnorthrup/XChange/blob/polyglot/xchange-idexjaxrs/pom.xml#L128 was my in-situ fix for now.  since it's up to rescu to perform java validation, i figured it was a no-op

[2018-04-11 14:35] jnorthrup commented on #112
i have done round-trip swagger extraction on the jaxrs for at least half of XChange modules which can then produce java service api interfaces against language "jaxrs-spec" with "interfacesOnly" config (the pom i showed you above is a reasonable maven generation workflow).

the pros are... jaxrs is a good and robust metadata format.
the cons are... swagger generation for jaxrs-spec interfaces does

[2018-05-07 05:52] gogogocheng opened #115 "need to support socks5 proxy"

[2018-05-11 05:42] hadareanrares opened #116 "Query separator '?' gets duplicated if path already contains query params"
Due to the limitation of not having default parameters in the query I have to specify part of the query parameters (which are constants) in the @Path, for eg:

`@Path("?module=account&action=tokenbalance&tag=latest")`

If I do this I, I will get another '?' character at the end.

I think we should check if the path parameter already has a query separator & query parameters.
Maby we should add a re

[2018-05-14 06:41] mmazi commented on #116
Does the JAX-RS spec specify how this should behave? How do other implementations (e.g. Jersey, RestEasy) behave in this regard?

If the answers to above questions imply that this should be done the way you suggest, I'd appreciate a PR with a failing test case that demonstrates this issue. Thanks!

[2019-05-14 16:23] gsiddharth commented on #62
+1

[2019-05-18 09:28] sergey-erkin opened #119 "PUT, POST hangs untill timeout if content is empty"
The problem
My thread hangs when no body passed into PUT or POST params (I use url params only)
But everything is OK if I change method to GET

Possible solution
I suppose we need to do connection.setDoOutput() for PUT and POST methods regardless request content length: see HttpTemplate.java:172

Also we need to open and flush output stream here  HttpTemplate.java:114

Two changes above help me

[2019-05-20 09:22] mmazi commented on #119
Thanks for reporting. Can you paste your code? Especially the interface method(s) where the problem manifests. IIUC it should be something like this:

[code]

Plus the code where you create the client proxy and where you call the method.

If you can put together a test case, that would help a lot in having the issue resolved quickly.

Thanks!

[2019-05-22 09:36] sergey-erkin commented on #119
Here the piece of code is

1. Interface

2. Create proxy

3. I have no tests for it and do not plan them

[2019-05-22 09:44] mmazi commented on #119
Thanks, I'll have a look when I find the time (probably next week).

Here's some info for reference about such requests:
https://stackoverflow.com/questions/1233372/is-an-http-put-request-required-to-include-a-body

My take is that we shouldn't do PUT requests without a body (or without a Content-Length header), but I guess we should support empty bodies with PUT by sending Content-Length: 0.

[2019-05-22 09:48] sergey-erkin commented on #119
Thank you!
By the way when next release should come if you make a fix?

[2019-05-23 10:48] wlk opened #120 "Update jakarta.ws.rs-api to fix building projects using xchange with sbt"
This is the problem that I have when building a Scala project with sbt that's using Xchange: https://github.com/eclipse-ee4j/jaxrs-api/issues/572

It was possible to add a workaround by adding explicit dependency like this:
[code]

But this will stop working with sbt 1.3.0, in the issue linked above it says that the fix is to simply upgrade to newer version fo `jaxrs-api`, also there's a update to

[2019-05-23 11:23] #120 closed, assigned to nobody

[2019-05-23 11:28] mmazi commented on #106
This seems to have been fixed in #107 (hasn't occurred since to my present knowledge).

[2019-05-23 11:28] #106 closed, assigned to nobody

[2019-05-27 15:48] mmazi commented on #119
I'm doing some research. The issue is not as trivial as it seemed at first so it might take a bit longer; any help appreciated.

It wasn't able to reproduce this with a test server; see the added test case in this branch:
https://github.com/mmazi/rescu/tree/issue-119

It seems to me that your thread hangs because the server you connect to does not respond. (Note that the server in the test case re

[2019-06-18 22:11] sergey-erkin commented on #119
Hi mmazi!
Thank a lot for your investigations and detailed answer!

1. About point "because the server you connect to does not respond"
No. The server responds well on PUT, GET, POST and DELETE requests if I send them from SoapUI.
Also as I mentioned it is working good when my threads sends GET requests.

2. About point "setting the System property sun.net.http.allowRestrictedHeaders to true"
Yeah

[2019-06-19 06:52] mmazi commented on #119
What you wrote seems to fit with my suspicion that your server does not respond to a PUT request with no Content-Length header set (that's what I meant).

When using rescu, you can see the *request* headers rescu sends by setting `    <logger name="si.mazi.rescu" level="trace"/>` in logback.xml (see examples in rescu and XChange). You can't, however, see the *response* headers in the problematic c

[2019-07-02 17:21] mhp0rtal opened #122 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => src/main/java/si/mazi/rescu/HmacPostBodyDigest.java: Line number => 58: API name => Mac:Operation on object of type javax.crypto.Mac object not completed. Expected call to update, doFinal<BR> File name => src/main/java/si/mazi/rescu/HmacPostBodyDigest.java: Line number => 57: API name => SecretKeySpec:<BR> File name => src/ma

[2019-09-17 16:56] makarid opened #123 "SyntaxError: Unexpected token " in JSON at position 0 when using RestProxyFactory.createProxy()"
Hello, i would like to ask you if there is a way i can see a log output from the whole request message that i am sending to the server when i am using this library. I am using Xchange library and i am trying to implement a new exchange. I am trying to communicate with a node.js REST API on my localhost which needs to get a jsonString as body. Here is my implementation on the interface Airswap.clas

[2019-09-17 18:35] mmazi commented on #123
You can see request details by setting `<logger name="si.mazi.rescu" level="trace"/>` in logback.xml. See examples in rescu and XChange.

[2019-09-17 19:27] makarid commented on #123
Thanks a lot! This helped a LOT!

[2019-09-17 19:28] #123 closed, assigned to nobody

[2020-06-01 23:46] earce opened #126 "Http retries"
Hi,

I am seeing requests that I am making sending out subsequent requests very soon after the original.

I am using this library as part of XChange and wanted to make sure there is no implicit logic built into this library for retries?

[2020-06-01 23:53] earce commented on #126
Hmm maybe related to https://bugs.openjdk.java.net/browse/JDK-6427251

[2020-06-02 09:39] mmazi commented on #126
There is no logic for retries in rescu.

[2020-06-02 09:39] #126 closed, assigned to nobody

[2020-07-20 12:11] mengCoderXXX opened #127 "content-type return utf-8"
content-type return utf-8 a lowercase letter

What should I do with it

[2020-07-20 19:03] mmazi commented on #127
Please provide more details.

[2020-10-12 20:08] #115 closed, assigned to nobody

[2020-10-14 15:47] milczarekIT opened #129 "rescu 2.1.0 ?"
As the rescu library has a new feature: SOCKS proxy support, @mmazi  are you going to release 2.1.0 version? Rescu has been not released for over 2 years

[2020-10-14 19:31] mmazi commented on #129
Yes, we could do a release soon. I'll see if I can do it this week.

[2020-10-15 12:38] mmazi commented on #129
Released rescu 2.0.4:
https://github.com/mmazi/rescu/releases/tag/rescu-2.0.4

[2020-10-15 12:38] #129 closed, assigned to nobody

[2020-10-15 16:01] milczarekIT commented on #129
Thanks @mmazi!

[2021-01-21 05:52] sutra opened #130 "ClientConfig#DefaultParamsMap is digested after first call"
After firs call, the default params are digested, and the follow-up calls are using the digested values in the first call.

I think the defaultParamsMap settings should NOT be updated, and do the digesting in every calls.

[code]

[code]

[2021-01-21 13:04] mmazi commented on #130
Thanks for the test! I'll have a look at this by next week.

[2021-01-21 16:32] sutra opened #131 "What is the best practice to consume MULTIPART_FORM_DATA"
Like this:
[code]

[code]

See https://github.com/go-resty/resty#multipart-files-upload as well.

[2021-01-26 09:46] mmazi commented on #131
rescu doesn't currently support accessing multipart/form-data services and there is no such support planned.

If you wish to implement this in rescu, we can discuss how to best do this.

[2021-01-26 10:30] #130 closed, assigned to mmazi

[2021-01-26 11:11] sutra commented on #131
Maybe expose the `RequestWriterResolver` to let user add their own `RequestWriter`.

[2021-01-27 11:23] mmazi commented on #131
Seems doable. If you submit a pull request, I'll be happy to review it.

[2021-02-08 17:55] sizmestiev opened #132 "Is there a way to handle headers for empty response?"
Hello Matija.

I have interaction with an exchange which sends authentication information in the headers of empty response.

Both JSON and plain text readers are unable to create `HttpResponseAware` object for empty responses - they just return `null`:
https://github.com/mmazi/rescu/blob/55a60966f1aa1ce81a83a8ba50d06aabe42c84d1/src/main/java/si/mazi/rescu/ResponseReader.java#L62

I wonder - is the

[2021-02-10 17:21] mmazi commented on #132
Thinking aloud here. As an empty string is not a valid JSON, `JacksonResponseReader`'s behavior is probably correct in this case. In the case of a `text/plain` response it would make sense to return an empty String when the response body is empty. However, String cannot implement `HttpResponseAware`. So I'm not sure how to proceed.

What is the declared content type of the response?

[2021-02-10 17:25] mmazi commented on #132
Oh actually `JacksonResponseReader`'s behavior is *not* correct with the empty string -- it should probably throw an exception (invalid json).

Anyhow, this probably doesn't help much either.

I see now that no content type is declared in the response.

[2021-02-10 17:27] mmazi commented on #127
Closing as I don't understand what this is about.

[2021-02-10 17:27] #127 closed, assigned to nobody

[2021-02-11 17:15] sizmestiev commented on #132
Is it possible to add ability to specify a custom `ResponseReader` in addition to `Jackson` and `text/plain` ?

[2021-02-11 18:09] mmazi commented on #132
Currently, no. I see you've delved into rescu source code -- if you create a pull request implementing this ability, I'll be happy to review.

A workaround/hack might exist for your issue though. Exceptions can implement HttpResponseAware, so if you manage to have an exception thrown when processing the response you might be able to get the headers. Unfortunately I don't see an easy way to do this

[2021-02-12 08:28] sizmestiev commented on #132
Thank you.
I don't have enough time now to implement the ability carefully, but this functionality is extremely important to me.
I'll do my best when I'm ready.

[2021-04-02 00:47] supex0fan opened #136 "Requests that require the invocationUrl to sign the request no longer work"
I believe this is related to the recent QueryParam digest changes.

Here is an example from the XChange library.
From: https://docs.pro.coinbase.com/#signing-a-message

From the XChange library (just using this method as an example, the error occurs on all methods that need to be signed)
https://github.com/knowm/XChange/blob/b8dd1a650191e3bfb706c9799864b423a57f573a/xchange-coinbasepro/src/main/jav

[2021-04-03 17:07] mmazi commented on #136
Could you provide a stack trace?

A test that demonstrates this would be even better. If you can't provide one, I'll try to produce one myself.

[2021-04-03 17:25] mmazi commented on #136
The problem seems to be that there are two real-life situations that are somewhat in conflict:

1. Digested parts of the request (which may include parts of the URL) must be sent in the body or headers (this is the situation in CoinbaseProDigest and others, mentioned above); and
2. Digested parts of the request (which may include parts of the body or headers) must be sent in the query parameters,

[2021-04-03 19:36] mmazi commented on #136
I wrote tests that demonstrate the above:
https://github.com/mmazi/rescu/commit/2371d14f1814ed66be7816b1ee95e1182a28a152

Now for the fix..

[2021-04-03 19:57] mmazi commented on #136
Actually, the "conflict" from above is nonexistent: query params can always be digested first, then URL constructed, then other params digested. Will push a fix shortly.

[2021-04-03 20:05] mmazi commented on #136
@supex0fan can you confirm that the issue is fixed?

I'll release rescu 2.1.0 when this is confirmed.

[2021-04-04 02:48] supex0fan commented on #136
I just checked and it is working. Thanks for fixing this so quickly.

[2021-05-20 12:49] pvyhnal-generalbytes commented on #116
My workaround is to use PathParams intead of QueryParams (incl. default params):
[code]
Using QueryParams results in duplicated "?"

[2021-11-05 14:39] ajutzeler opened #137 "Adding support for other HTTP clients"
HttpsURLConnection is not very flexible (and even broken in my opinion) when it comes to the persistence of the connections.

On all JVM that I tested (openjdk 11-17, oracle 11-17) there is a timeout around 10 seconds, which to my knowledge is not configurable, that will terminate the connection if no subsequent query is sent regardless of OS' configuration.

I quickly and dirtily (dropped all fea

[2021-11-05 20:07] timmolter commented on #137
Did you try this: https://github.com/mmazi/rescu#settings

[2021-11-05 21:50] ajutzeler commented on #137
I did not try to specify explicitly any value, but I was using the 30 secs default values (see class Config in si.mazi.rescu).

In my tests no connection ever lasted 30 secs if queries were not continuously sent around every 10 seconds. The connection timeout is supposed to only be relevant at the initialization (see official [javadoc](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/j

[2021-11-08 08:02] mmazi commented on #137
It certainly seems so. Would you be willing to create a full pull request? That would have to include the tests too. I'd be happy to review it and help with some advice (and perhaps a little coding).

[2022-09-30 13:37] pcoppinger commented on #137
@ajutzeler I'm having the same problem. What is involved in converting ResCU to OKHttp? Any help (or code) you could offer would be very much appreciated.

[2022-10-13 16:05] DiiaanaD commented on #23
Hello @mmazi

I was trying to solve the same problem (use a proxy that needs authentication)  and the solution from above doesn't work.

The headers are set on ClientConfig but they don't seem to be populated on the proxy also.
Any idea?

Thanks,
Diana

[2022-10-13 16:42] DiiaanaD opened #139 "Configuring authentication for proxy doesn't work"
Hello.

I want to use a proxy that needs authentication and I tried the following solution:

 ClientConfig config = ClientConfigUtil.addBasicAuthCredentials(new ClientConfig(), "Aladdin", "open sesame");
 RestProxyFactory.createProxy(Service.class, url, config);

 (the code was added in ExchangeRestProxyBuilder::build function)

I found that it was suggested here, but it doesn't work:
https://gith

[2022-10-13 20:10] alinbreaban commented on #104
@archenroot did you find a solution for your issue in the end?
We tried a similar approach to what you posted on this issue but without success.